<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="max-w-2xl mx-auto p-6 shadow-md rounded-lg space-y-6">
    <!-- Display error message -->
    @if (errorMessage) {
    <mat-card class="bg-red-100 text-red-500 p-4 rounded-md shadow-sm">
        {{ errorMessage }}
    </mat-card>
    }
  
    <!-- ID Field -->
    <mat-form-field class="w-full" >
        <mat-label>ID</mat-label>
        <input matInput type="number" id="id" formControlName="id" />
        @if (itemForm.get('id')?.invalid && itemForm.get('id')?.touched) {
        <mat-error>ID is required and must be a positive number.</mat-error>}
    </mat-form-field>
  
    <!-- Name Field -->
    <mat-form-field class="w-full" >
        <mat-label>Name</mat-label>
        <input matInput type="text" id="name" [appHighlightOnFocus]="'yellow'" formControlName="name" />
        @if (itemForm.get('name')?.invalid && itemForm.get('name')?.touched) {
        <mat-error>Name is required and must not contain special characters.</mat-error>}
    </mat-form-field>
  
    <!-- Description Field -->
    <mat-form-field class="w-full" >
        <mat-label>Description</mat-label>
        <textarea matInput id="description" [appHighlightOnFocus]="'pink'" formControlName="description" rows="3"></textarea>
    </mat-form-field>
  
    <!-- Price Field -->
    <mat-form-field class="w-full" >
        <mat-label>Price</mat-label>
        <input matInput type="number" id="price" [appHighlightOnFocus]="'pink'" formControlName="price" />
    </mat-form-field>
  
    <!-- Category Field -->
    <mat-form-field class="w-full" >
        <mat-label>Category</mat-label>
        <input matInput type="text" id="category" [appHighlightOnFocus]="'yellow'" formControlName="category" />
    </mat-form-field>
  
    <!-- In Stock Checkbox -->
    <div class="flex items-center space-x-2">
        <mat-checkbox formControlName="inStock" class="mt-2">In Stock</mat-checkbox>
    </div>
  
    <!-- Submit Button -->
    <button type="submit" mat-raised-button color="primary" class="w-full py-3">
        Save
    </button>
  </form>
  