<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="space-y-4">
  <!-- Display error message -->
  @if(errorMessage){
  <mat-card class="text-red-500 p-4">
      {{ errorMessage }}
  </mat-card>
  }

  <!-- ID Field -->
  <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput type="number" id="id" formControlName="id" />
      @if(itemForm.get('id')?.invalid && itemForm.get('id')?.touched){
      <mat-error>ID is required and must be a positive number.</mat-error>}
  </mat-form-field>

  <!-- Name Field -->
  <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" id="name" [appHighlightOnFocus]="'yellow'" formControlName="name" />
      @if(itemForm.get('name')?.invalid && itemForm.get('name')?.touched) {
      <mat-error>Name is required and must not contain special characters.</mat-error>}
  </mat-form-field>

  <!-- Description Field -->
  <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput id="description" [appHighlightOnFocus]="'pink'" formControlName="description" rows="3"></textarea>
  </mat-form-field>

  <!-- Price Field -->
  <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" id="price" [appHighlightOnFocus]="'pink'" formControlName="price" />
  </mat-form-field>

  <!-- Category Field -->
  <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <input matInput type="text" id="category" [appHighlightOnFocus]="'yellow'" formControlName="category" />
  </mat-form-field>

  <!-- In Stock Checkbox -->
  <mat-checkbox formControlName="inStock" class="mt-2">In Stock</mat-checkbox>

  <!-- Submit Button -->
  <button type="submit" mat-raised-button color="primary" class="w-full mt-4">
      Save
  </button>
</form>
