<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="space-y-4">
  <!-- Display error message -->
  @if(errorMessage){
  <div class="text-red-500">{{ errorMessage }}</div>
  }


  <!-- ID Field -->
  <div>
    <label for="id" class="block text-gray-700 font-medium mb-2">ID</label>
    <input type="number" id="id" formControlName="id" class="w-full border border-gray-300 p-2 rounded-md" />
    @if(itemForm.get('id')?.invalid && itemForm.get('id')?.touched){
    <div class="text-red-500">
      ID is required and must be a positive number.
    </div>}
  </div>

  <!-- Name Field -->
  <div>
    <label for="name" class="block text-gray-700 font-medium mb-2">Name</label>
    <input type="text" id="name" formControlName="name" class="w-full border border-gray-300 p-2 rounded-md" />
    @if(itemForm.get('name')?.invalid && itemForm.get('name')?.touched) { 
      <div class="text-red-500">
      Name is required and must not contain special characters.
    </div>}
  </div>

  <!-- Description Field -->
  <div>
    <label for="description" class="block text-gray-700 font-medium mb-2">Description</label>
    <textarea id="description" formControlName="description" rows="3"
      class="w-full border border-gray-300 p-2 rounded-md"></textarea>
  </div>

  <!-- Price Field -->
  <div>
    <label for="price" class="block text-gray-700 font-medium mb-2" [appHighlightOnFocus]="'pink'">Price</label>
    <input type="number" id="price" formControlName="price" class="w-full border border-gray-300 p-2 rounded-md" />
  </div>

  <!-- Category Field -->
  <div>
    <label for="category" class="block text-gray-700 font-medium mb-2" [appHighlightOnFocus]="'yellow'">Category</label>
    <input type="text" id="category" formControlName="category" class="w-full border border-gray-300 p-2 rounded-md" />
  </div>

  <!-- In Stock Checkbox -->
  <div class="flex items-center">
    <label for="inStock" class="text-gray-700 font-medium mr-2">In Stock</label>
    <input type="checkbox" id="inStock" formControlName="inStock" class="rounded" />
  </div>

  <!-- Submit Button -->
  <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded mt-4">Save</button>
</form>