<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecom</title>
</head>
<body>
  <div class="p-4">
    <div class="text-center">
  <h1 class="text-3xl font-bold mb-4">Ecom</h1>
  <p class="text-lg mb-8">
    Ecom by {{ name }} is in semester {{ sem }} at St. Clair College
  </p>
</div> 
    <app-content-list-item
  *ngIf="selectedItem"
  [contentItem]="selectedItem">
</app-content-list-item>
    <app-content-list></app-content-list>


  </div>
</body>
</html>